<h1>Sign up!</h1>

<%= form_for [:user, @user], url: '/users' do |f| %>

  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented saving:</strong>
      <ul>
        <% f.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  Name: <br>
  <%= f.text_field :name %> <br>

  Email: <br>
  <%= f.text_field :email %> <br>

  Password: <br>
  <%= f.password_field :password %> <br>

  Password Confirmation: <br>
  <%= f.password_field :password_confirmation %> <br>

  <%= f.submit "Submit" %>

<% end %>